
# ============================================ oh-my-posh ============================================ #
# oh-my-posh bashrc template
# replace #REPO_PATH# with absolute path to this repository

# posh-git
source /usr/local/bin/git-prompt.sh

# oh-my-posh theme
eval "$(oh-my-posh --init --shell bash --config _REPO_PATH_/custom_themes/myparadox_linux.omp.json)"

# ============================================ oh-my-posh ============================================ #
